.brighttheme-notice {
    background-color: #314055;
    border: 0px solid #30bc97;
    color: #fff;
    border-radius: 6px;
    border-top-right-radius: 0;
}

.brighttheme-success {
    background-color: #4CAF50;
    border: 0px solid #30bc97;
    color: #fff;
    border-radius: 6px;
    border-top-right-radius: 0;
}

.viky {
    color:red;
}